name: Clean up Neon Branch
on:
  pull_request:
    types: [closed]

jobs:
  delete-neon-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v3.1.3
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch: ${{ github.event.pull_request.head.ref }}
          api_key: ${{ secrets.NEON_API_KEY }}